/* Whole file by Fengrui Gan */

i {
  font-size: 1.25em;
  margin-right: 0.1em;
}

main {
  min-height: 35em;
}

footer {
  margin-top: 3em;
  padding: 2em 0 2em 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

#greet {
  display: flex;
  align-items: center;
  margin-right: 1em;
}
